<form id="editor" method="POST">

    <nav id="navbar">
        <a id="brand" href="/" class="column-left">
            <img id="logo" src="{{ 'logo.svg' | asset_url }}" alt="DropPen" />
        </a>

        <section id="toolbar" class="column-content">
            <button type="submit">Run</button>
            <button type="button">Share</button>
            <input type="hidden" id="code" name="code" value="" />
        </section>

        <aside id="promos" class="column-content">
        </aside>
    </nav>

    <section id="content">
        <aside id="sidebar" class="column-left">

            <section class="form-group">
                <label for="template">Shopify Template</label>
                <select id="template" name="template" class="form-control">
                    <option value="index">Home Page</option>
                    <option value="product">Product Page</option>
                    <option value="collection">Collection Page</option>
                </select>
            </section>

            <section id="product-form-group" class="form-group" style="display: none;">
                <label for="product">Product</label>
                <select id="product" name="product" class="form-control">
                    {% for product in collections.all.products %}
                    <option value="{{ product.handle }}">{{ product.title }}</option>
                    {% endfor %}
                </select>
            </section>
        </aside>

        <section class="column-content">
            <div class="panel">
                <label for="liquid">Liquid</label>
                <textarea id="liquid" name="liquid"></textarea>
            </div>
            <div class="panel">
                <label for="js">Javascript</label>
                <textarea id="js" name="js"></textarea>
            </div>
        </section>

        <section class="column-content">
            <div class="panel">
                <label for="css">CSS</label>
                <textarea id="css" name="css"></textarea>
            </div>
            <div class="panel">
                <label for="preview">Preview</label>
                <iframe id="preview"></iframe>
            </div>
        </section>
    </section>

</form>
