<form id="editor" method="POST">

    <nav id="navbar">
        <a href="/" class="brand">Droplet</a>

        <button type="submit">Run</button>
        <button type="button">Save</button>

        <input type="hidden" id="code" name="code" value="" />
    </nav>

    <section id="content">
        <aside id="sidebar">
            <label for="template">Template</label>
            <select id="template" name="template">
                <option value="index">Index / Page</option>
                <option value="product">Product</option>
                <option value="collection">Collection</option>
            </select>

            <label for="product">Product</label>
            <select id="product" name="product">
                {% for product in collections.all.products %}
                <option value="{{ product.handle }}">{{ product.title }}</option>
                {% endfor %}
            </select>
        </aside>

        <section class="column">
            <div class="panel">
                <label for="liquid">Liquid</label>
                <textarea id="liquid" name="liquid"></textarea>
            </div>
            <div class="panel">
                <label for="js">Javascript</label>
                <textarea id="js" name="js"></textarea>
            </div>
        </section>

        <section class="column">
            <div class="panel">
                <label for="css">CSS</label>
                <textarea id="css" name="css"></textarea>
            </div>
            <div class="panel">
                <label for="preview">Preview</label>
                <iframe id="preview"></iframe>
            </div>
        </section>
    </section>

</form>
