<form id="editor" method="POST">

    <nav id="navbar">
        <a id="brand" href="/" class="content-column-left">
            <img id="logo" src="{{ 'logo.svg' | asset_url }}" alt="DropPen" />
        </a>

        <section id="toolbar" class="content-column">
            <button type="submit">Run &raquo;</button>

            <div id="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </section>

        <section id="promo" class="content-column">
        </section>
    </nav>

    <section id="content" class="content open">
        <aside id="sidebar" class="content-column-left sidebar">
            <h4>DropPen Settings</h4>

            <section class="form-group">
                <label for="template">Shopify Template</label>
                <select id="template" name="template" class="form-control">
                    <option value="index">Home Page</option>
                    <option value="product">Product Page</option>
                    <option value="collection">Collection Page</option>
                </select>
            </section>

            <section id="product-form-group" class="form-group" style="display: none;">
                <label for="product">Product</label>
                <select id="product" name="product" class="form-control">
                    {% for product in collections.all.products %}
                    <option value="{{ product.handle }}">{{ product.title }}</option>
                    {% endfor %}
                </select>
            </section>

            <section class="form-group">
                <a href="#liquid-help">Open Liquid Reference</a> (<code>⌘ + /</code>)
            </section>
        </aside>

        <section class="content-column">
            <div class="panel">
                <label for="liquid">Liquid</label>
                <textarea id="liquid" name="liquid"></textarea>
            </div>
            <div class="panel">
                <label for="js">Javascript</label>
                <textarea id="js" name="js"></textarea>
            </div>
        </section>

        <section class="content-column">
            <div class="panel">
                <label for="css">CSS</label>
                <textarea id="css" name="css"></textarea>
            </div>
            <div class="panel">
                <label for="preview">Preview</label>
                <iframe id="preview"></iframe>
            </div>
        </section>
    </section>

    <section id="liquid-help" class="content">
        <aside class="sidebar content-column-left">
            <h4>Liquid Reference</h4>

            <section class="form-group">
                <input id="liquid-help-filter" type="search" class="search form-control" place="Search Liquid Reference..." />
            </section>

            <section class="form-group">
                <a href="#liquid-help">Close Liquid Reference</a> (<code>⌘ + /</code> or <code>esc</code>)
            </section>
        </aside>

        <section class="content-column-double">
            <ul class="list"></ul>
        </section>
    </section>

</form>
