* {
  box-sizing: border-box;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

.content-column-left {
  flex: 1;
  min-width: 200px;
}

.content-column {
  flex: 5;
  min-width: 300px;
}

.content-column-double {
  flex: 10;
  min-width: 600px;
}

.content {
  flex: 1;

  display: none;

  &.open {
    display: flex;
  }

  .sidebar {
    background-color: $sidebar-bg-color;
    border-right: 1px solid darken($sidebar-bg-color, 10%);
    padding: 10px;
  }

  .content-column {
    display: flex;
    flex-direction: column;

    .panel {
      flex: 1;
      position: relative;

      & > label {
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-block;
        border: 1px solid #f0f0f0;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: 10px;
        text-transform: uppercase;
        padding: 2px 4px;
        color: #999999;
        z-index: $editor-label-zindex;
      }

      & > textarea, iframe, .CodeMirror {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border: 0;
        width: 100%;
      }
    }
  }
}
