body {
  font-family: $font-family-base;
}

code, pre {
  font-family: $font-family-monospace;
}

code, kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: $code-color;
  background-color: $code-bg;
  border-radius: 3px;
}

input[type="search"] {
  box-sizing: border-box;
}
