$navbar-bg-color: #37bebf;
$navbar-bg-color-gradient: #3acab5;
$sidebar-bg-color: #f0f0f0;

$editor-label-zindex: 100;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$code-color:  #c7254e;
$code-bg:     #f9f2f4;

// Our custom styles.
@import "layout";
@import "type";
@import "navbar";
@import "loading";
@import "help";

// From Bootstrap
@import "variables";
@import "mixins";
@import "forms";
